<!DOCTYPE html>
<html>
  <head>
    <title>Code Fellows Contact Manager</title>


    <script src="/bower_components/jquery.js"> </script>

    <!-- Bring In Bootstrap -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- Application Styles and Scripts -->
    <link rel="stylesheet" href="/jsbootcamp.css">
    <link rel="stylesheet" href="/table-sorter.css">


    <!-- bring in font awesome and table sorter -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="http://tablesorter.com/__jquery.tablesorter.min.js"></script>


    <script src="/contactlist.js"></script>

    <script>
      $(document).ready(function() {
          makeContactRowClickable();

          $("#myTable").tablesorter(); 

          var btn_insert = document.getElementById ( 'btnInsert' );

          btn_insert.addEventListener ('click', checkme)

          function checkme () {
            var newUrl = window.location.href;

            newUrl = newUrl + "/new";
            window.location.href = newUrl;

          }


      });
    </script>
  </head>

  <body>
  <div class='body-wrapper'>

  <div class='content'>
  <header> 
    <h1>Springfields Phonebook</h1>
  </header>

      <table id="myTable" class="table table-hover tablesorter">
        <thead>
          <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Nickname</th>
            <th>Company</th>
          </tr>
        <thead>

        <tbody>
          {{#each contacts}}
            <tr data-contact-guid="{{guid}}">
              <td><i class="fa fa-male"></i> {{lastName}}</td>
              <td>{{firstName}}</td>
              <td>{{nickname}}</td>
              <td>{{company}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <button id="btnInsert" class="btn btn-default">Insert New Adress</button>


    </div>
    </div>



  </body>
</html>
