<!DOCTYPE html>
<html>
  <head>
    <title>Code Fellows Contact Manager</title>


    <!-- Bring In Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


    <!-- Application Styles and Scripts -->
    <link rel="stylesheet" href="/jsbootcamp.css">

    <script>
          $(document).ready(function() {


        function validateInput ( ) {
          if ( this.value.length === 0) {
          //  console.log ( $(this).closest('.alert-error') )
            $(this).next().css( "display", "block" );
          } else {
            $(this).next().css( "display", "none" );
          }
        }

        var name = document.getElementById('firstName');
          name.addEventListener('blur', validateInput, true);

        });
    </script>

  </head>

  <body>

  <div class='body-wrapper'>
    <div class='content'>
    <header> 
      <h1>Where cartoons rule the world</h1>
    </header>

    
      <form method="POST" class="form-horizontal" role="form">
        {{#with contact}}
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" value="{{firstName}}" />
            <div class="alert alert-error" style="display: none">Please insert a Name here </div> 
          </div>

          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" value="{{lastName}}"/>
          </div>

          <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname" value="{{nickname}}"/>
          </div>

          <div class="form-group">
            <label for="company">Company</label>
            <input type="text" class="form-control" id="company" name="company" placeholder="Company" value="{{company}}"/>
          </div>

          <div class="form-group">
            <label for="email">Email Addr</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email Addrress" value="{{email}}"/>
          </div>
        {{/with}}

        <button type="submit" id="target" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>

    <!-- Bring In jQuery -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/contactlist.js"></script>

  </body>
</html>
