<!DOCTYPE html>
<html>
  <head>
    <title>Code Fellows Contact Manager</title>


    <!-- Bring In Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


    <!-- Application Styles and Scripts -->
    <link rel="stylesheet" href="/jsbootcamp.css">

    <script>
          $(document).ready(function() {


        function validateInput ( ) {

          var display,
              cBorder;

          if ( this.value.length === 0) {
            display = "block";
            cBorder = "red";
          } else {
            display = "none";
            cBorder = "green";
          }

          $(this).siblings('.alert-error').css( "display", display);
          $(this).css ('border-color', cBorder);
        }


          function onSubmitClick ( e ) {
            if ( name.value === "" || lastName.value === "" ) {
              e.preventDefault();
              $(this).siblings('.alert-error').css( "display", "block");
            } else {
               $(this).siblings('.alert-error').css( "display", "none");
            }
           
          }

          function onBackClick ( e ) {
              window.location.href = "/";
          }


        var name = document.getElementById('firstName');
          name.addEventListener('blur', validateInput, true);

        var lastName = document.getElementById('lastName');
          lastName.addEventListener('blur', validateInput, true);

          var btn_submit = document.getElementById ('target');
          btn_submit.addEventListener ('click', onSubmitClick);

        var btn_back = document.getElementById ('btn_back');
          btn_back.addEventListener ('click', onBackClick);



        });
    </script>

  </head>

  <body>

  <div class='body-wrapper'>
    <div class='content'>
    <header> 
      <h1>Springfields Phonebook</h1>
    </header>

    <button id="btn_back" class="btn btn-primary"><i class="fa fa-angle-double-left"></i>  Back to Index</button>

    
      <form method="POST" class="form-horizontal" role="form">
        {{#with contact}}
          <div class="form-group">
            <label for="firstName">First Name*</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" value="{{firstName}}" />
            <div class="alert alert-error" style="display: none">Please insert the first name here </div> 
          </div>

          <div class="form-group">
            <label for="lastName">Last Name*</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" value="{{lastName}}"/>
             <div class="alert alert-error" style="display: none">Please insert the last name here </div> 
          </div>

          <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname" value="{{nickname}}"/>
          </div>

          <div class="form-group">
            <label for="company">Company</label>
            <input type="text" class="form-control" id="company" name="company" placeholder="Company" value="{{company}}"/>
          </div>

          <div class="form-group">
            <label for="email">Email Addr</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email Addrress" value="{{email}}"/>
          </div>
        {{/with}}

        <div class="alert alert-error" style="display: none">Please insert all the required information </div> 
        <button type="submit" id="target" class="btn btn-default">Submit</button>

      </form>
    </div>
    </div>

    <!-- Bring In jQuery -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/contactlist.js"></script>

  </body>
</html>
